#result {
  display: none;
}

body {
  background-image: url(img/roman.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

p {
  font-size: 1.5em;
}


div.transbox
{
  padding: 3%;
  text-align: center;
  margin: 100px;
  background-color: #ffffff;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}
